# Rust build
/target/
**/*.rs.bk

# IDEs and editors
/.idea/
/.vscode/
/*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Environment variables and secrets
.env
*.env

# Logs
*.log

# Other
*.swp
*.swo
*~